<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQM vs BTC</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <div class="page-title">
        <h1>SQM Price vs. BTC Price</h1>
        <h3>
          Graph showing the relationship between the price of ONE
          square meter in Sofia and the price of Bitcoin (BTC)
        </h3>
      </div>

      <table>
        <tr>
          <td class="td-title">Date</td>
          <td>{{date}}</td>
        </tr>
        <tr>
          <td class="td-title">SQM</td>
          <td>{{sqm_price}} €</td>
        </tr>
        <tr>
          <td class="td-title">BTC</td>
          <td>{{btc_price}} €</td>
        </tr>
        <tr>
          <td class="td-title">Ratio</td>
          <td>SQM / BTC</td>
        </tr>
      </table>

      <canvas id="priceChart" width="400" height="200"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

    <div class="footer">
      <p>© TonyTech, All Right Reserved.</p>
      <p></p>
    </div>
  </body>
</html>
