<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apartment Price vs BTC</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <div class="page-title">
        <h1>SQM Price vs. BTC Price</h1>
        <h3>
          To create the graph showing the relationship between the price of a
          square meter in Sofia and the price of Bitcoin (BTC)
        </h3>
      </div>

      <table>
        <tr>
          <td class="td-title">Date</td>
          <td>{{date}}</td>
        </tr>
        <tr>
          <td class="td-title">BTC</td>
          <td>{{current_price}} €</td>
        </tr>
      </table>

      <canvas id="priceChart" width="400" height="200"></canvas>
    </div>

    <script>
      let priceChart = new Chart(
        document.getElementById("priceChart").getContext("2d"),
        {
          type: "line",
          data: {
            labels: [],
            datasets: [
              {
                backgroundColor: "rgba(247, 147, 26, 1.0)",
                label: "Ratio sqm Price vs. BTC Price",
                data: [],
                borderColor: "rgba(247, 147, 26, 1.0)",
                borderWidth: 2,
                fill: false,
              },
            ],
          },
          options: {
            scales: {
              x: {
                title: {
                  display: true,
                  text: "Time",
                  color: "#D8DEE9",
                  font: { size: 18 },
                },
                ticks: {
                  color: "rgba(216, 222, 233, 1.0)",
                  font: { size: 14 },
                },
                grid: { color: "rgba(216, 222, 233, 1.0)" },
              },
              y: {
                title: {
                  display: true,
                  text: "Ratio",
                  color: "#D8DEE9",
                  font: { size: 18 },
                },
                ticks: {
                  color: "rgba(216, 222, 233, 1.0)",
                  font: { size: 14 },
                },
                grid: { color: "rgba(216, 222, 233, 1.0)" },
              },
            },
          },
        }
      );

      let lastRunTime = parseInt(localStorage.getItem("lastRunTime")) || 0; // Last update time in milliseconds
      const oneDayMs = 86400000; // One day in milliseconds

      function updateCharts() {
        const currentTime = Date.now();
        console.log("Current time:", currentTime)

        // Check if 1 day (86,400,000 ms) has passed
        if (currentTime - lastRunTime >= oneDayMs) {
          fetch("/data")
            .then((response) => response.json())
            .then((data) => {
              let date = data.date;

              priceChart.data.labels.push(date);
              priceChart.data.datasets[0].data.push(data.ratio);
              priceChart.update();

              // Update the last run time
              lastRunTime = currentTime;
              localStorage.setItem("lastRunTime", lastRunTime); // Save to localStorage
            });
        }
      }

      function updateCountdown() {
        const currentTime = Date.now();
        const nextUpdate = lastRunTime + oneDayMs;

        if (nextUpdate <= currentTime) {
          document.getElementById("nextUpdate").textContent = "Updating soon...";
        } else {
          const remainingTime = nextUpdate - currentTime;

          const hours = Math.floor((remainingTime / (1000 * 60 * 60)) % 24);
          const minutes = Math.floor((remainingTime / (1000 * 60)) % 60);
          const seconds = Math.floor((remainingTime / 1000) % 60);

          document.getElementById(
            "nextUpdate"
          ).textContent = `${hours}h ${minutes}m ${seconds}s`;
        }
      }

      // Update the chart every minute
      setInterval(updateCharts, 60000);

      // Update the countdown every second
      setInterval(updateCountdown, 1000);
    </script>

    <div class="footer">
      <p>© Anton Petrov, All Right Reserved.</p>
      <p>Next update: <span id="nextUpdate"></span></p>
    </div>
  </body>
</html>
